footer {
    border-top: 2px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .registro-mail{
        display: flex;
        
    }

    .instagram {
        margin: 10px;
        display: flex;
        align-items: center;

        .logo-instagram {
            width: 20px;
            margin-right: 10px;
            display: flex;

        }

        .info-instagram{
            text-decoration: none;
            color: black;
        }
    }

    .mail {
        margin: 10px;
        display: flex;
        align-items: center;

        .logo-mail {
            width: 20px;
            margin-right: 10px;
            display: flex;
        }
        .info-mail{
            color: black;
        }
    }

    .ubicacion {
        margin: 10px;
        display: flex;
        align-items: center;

        .logo-ubicacion {
            width: 20px;
            margin-right: 10px;
            display: flex;

        }
        .info-ubicacion{
            color: black;
        }
    }
    .derechos-footer{
        font-size: x-small;
    }

}