/* PREGUNTAS FRECUENTES */

.accordion-flush {
    background-color: white;
    color: black;

    .accordion-button {
        background-color: white;
        color: black;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .collapsed {
        border: 2px solid whitesmoke;
        color: black;
    }
}